*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    color: black;
}
header{
    background-color: white;
    margin-bottom: 20px;
}
nav{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    text-align: center;
    
}
nav > #logo {
  width: 120px;
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
}
nav > form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-row: 1;
    grid-column: 2;
}
nav > #carrito {
  width: 70px;
  grid-row: 1;
  grid-column: 3;
  justify-self: center;
}
nav ul{
    display: flex; /*Utilizo flex para controlar los elementos dentro del contenedor ul*/
    justify-content: space-between;
    grid-row: 2;    /*A su vez, utilizo grid para ubicar al <ul></ul> en la fila 2 y que tome todas las columnas*/
    grid-column: 1 / 4;
    background-color: #000;
    color: white;
    border-bottom: 3px solid #F64C72;
}
nav li{
    flex: 1; /*Ajusta los elementos al ancho maximo posible de su contenedor*/
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
nav a:hover{
    color:#F64C72;
    text-decoration: underline;
}
main{
    width: 80%;
    margin: auto;
}

footer{
    display: flex;
    flex-wrap: no-wrap;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    border-top: 3px solid #F64C72;
}

footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color:#F64C72;
}
footer li{
    list-style: none;
}
h1{
    background-color: #553d67;
    width: 50%;
    padding: 10px;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
}
h2{
    background-color: #F64C72;
    color: white;
    display: block;
    text-align: center;
    margin: auto;
    font-weight: bold;
}

.contenido-cursos-destacados li{
    padding: 10px;
    border: 2px solid black;
    width: 50%;
    text-align: center;
    margin: auto;
    list-style-type: none;
}

