*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'Comfortaa','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    color: black;
}
header{
    background-color: white;
    margin-bottom: 20px;
}
nav{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    align-items: center;
    text-align: center;   
}
nav > #logo {
  width: 120px;
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
}
nav > form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-row: 1;
    grid-column: 2;
}
nav > #carrito {
  width: 70px;
  grid-row: 1;
  grid-column: 4;
  justify-self: center;
}
nav> #detalleCursos{
    margin: 0;
    grid-row: 1;
    grid-column: 3;
    font-weight: bold;   
    justify-self: center;
}
nav ul{
    display: flex; /*Utilizo flex para controlar los elementos dentro del contenedor ul*/
    justify-content: space-around;
    grid-row: 2;    /*A su vez, utilizo grid para ubicar al <ul></ul> en la fila 2 y que tome todas las columnas*/
    grid-column: 1 / 5;
    background-color: #000;
    color: white;
    border-bottom: 5px solid #F64C72;
    padding: 10px;
}
nav li{
    flex: 1; /*Ajusta los elementos al ancho maximo posible de su contenedor*/
    list-style: none;
    margin: 0;
}
nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav a:hover{
    color:#F64C72;
    text-decoration: underline;
}
main{
    width: 80%;
    margin: auto;
    
}

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    align-items:center;
    text-align: center;
    justify-content: space-around;
    background-color: black;
    color: white;
    border-top: 5px solid #F64C72;
}
footer ul{
    margin-top: 10px;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color:#F64C72;
}
footer li{
    list-style: none;
    padding: 5px;
}
h1{
    background-color: black;
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
    padding: 50px;
    font-family: 'Comfortaa';
}
/*ESTILOS PARA CONTENIDO INDEX.HTML*********************************************************************************************************/
/*CONTENEDOR INSTRUCCIONES*/

#inputBusqueda{
  margin-right: 10px;
  border: none;
  border-bottom: 2px solid black;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

#resultadoBusqueda {
    display: flex;
    flex-direction: row;
    
  }
  
  .curso {
    flex: 1;
    margin: 10px;
    text-align: center;
  }
  
  .curso img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .curso p {
    margin-bottom: 0;
  }
.estilo-boton-busqueda{
        background-color: #F64C72;
        color: white;
        margin-top: 5px;
        padding: 5px;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        border: none;  
}

.row{
    display: flex; /*REGLAS PARA EL CAROUSEL DE BOOTSTRAP*/
    justify-content: center;
}
.contenedor-instrucciones{
    margin: 40px;
    display: grid;
    grid-template-rows: auto;
    
    
}
#contenedor-instrucciones-h2{
    margin: 40px;
    grid-row: 1;
    color: black;
    text-align: center;
    font-weight: bold;
}
.contenedor-instrucciones ol{
    display: grid;
    gap: 50px;
    grid-template-columns: auto;
    list-style: none;
}
.box-instrucciones{
    box-sizing: border-box;
    text-align: justify;
    
}
.box-instrucciones-texto{
    color: black;
    font-weight: bold;
    font-size: 17px;
}
/* FIN CONTENEDOR INSTRUCCIONES*/

/*CONTENEDOR CURSOS DESTACADOS*/
.contenido-cursos-destacados{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
.contenido-cursos-destacados h2 {
    grid-row: 1; /* El encabezado ocupa las 3 columnas */
    text-align: center;
    align-items: center; /*Acomoda el contenido en el eje transversal del bloque*/
    padding: 10px;
    font-weight: bold;
}
#contenedor-cursos-destacados {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Crea 5 columnas de igual tamaño */
    grid-template-rows: 1fr; /* Ajusta automáticamente la altura de las filas */
    gap: 10px; /* Espacio entre los elementos */
    text-align: center;
    
}
@media (max-width: 1155px) {
    #contenedor-cursos-destacados {
      grid-template-columns: repeat(4, 1fr); /* En pantallas más pequeñas, establece 2 columnas de igual tamaño */
    }
  }
  @media (max-width: 983px) {
    #contenedor-cursos-destacados {
      grid-template-columns: repeat(3, 1fr); /* En pantallas más pequeñas, establece 2 columnas de igual tamaño */
    }
  }
@media (max-width: 822px) {
    #contenedor-cursos-destacados {
      grid-template-columns: repeat(2, 1fr); /* En pantallas más pequeñas, establece 2 columnas de igual tamaño */
    }
  }
 .tarjeta-curso{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 2px solid black;
    border-radius: 8px;
    list-style-type: none;
   
    
}
.imagen-container{
    width: 100%;
    height: 100%;
    z-index: -1;
}
.imagen-container img {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
    object-fit: cover;
}  
.contenido-cursos-destacados li h3 {
    font-weight: bold;
    font-size: 100%; /* Tamaño inicial del font */
    
  }
.contenido-cursos-destacados ul li > * {
    margin-bottom: 10px; /* Ajusta el valor según el espacio deseado */
}
.contenido-cursos-destacados button {
    display: block;
    width: 50%;
    margin: 0 auto;
  }
.precio-curso{
    color: black;
    font-weight: bold;
}
/* FIN CONTENEDOR CURSOS DESTACADOS*/


/*CONTENEDOR MEDIOS DE PAGO*/
.medios-de-pago {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0;
}
.medios-de-pago li{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.medios-de-pago img {
    width: 120px; /* Ancho deseado */
    height: 120px;
    object-fit: contain;
}
/*FIN CONTENEDOR MEDIOS DE PAGO*/


.imagen-container-calendario{
    text-align: center;
    padding: 10px;
}
#calendario{
    width: 60%;
    justify-self: center;
}
/*FIN ESTILOS INDEX.HTML*********************************************************************************************************/

/*PRINCIPIO ESTILOS DETALLE-CURSO.HTML*********************************************************************************************************/

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

#columna-detalle-curso{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#imagen-titulo-descripcion-curso{
   
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    gap: 20px;
    
}
#imagen-titulo-descripcion-curso img{
    width: 100%;
    height: 350px;
    grid-column: 1;
    grid-row: 1;
}
.contenido-titulo-curso-precio-tiempo-descripcion{
    grid-column: 2;
}
.contenido-titulo-curso-precio-tiempo-descripcion button{
    box-sizing: border-box;
    margin-bottom: 10px;
}

.contenido-curso-unidades{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.contenido-curso-unidades h4{
    font-weight: bold;
    margin: 10px;
    justify-self: center;
}
.contenido-curso-unidades ul{
    margin: 5px;
    padding: 0;
    grid-row: 2;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.contenido-curso-unidades li{
    margin: 5px;
    border: 1px solid black;
}
.contenido-curso-unidades h3{
    background-color: #000;
    color: white;
    font-weight: bold;

}
.docente-curso-descripcion{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap: 10px;
    
    margin-top: 15px;
    margin-bottom: 15px;

}
.docente-curso-descripcion h3{
    font-weight: bold;
    justify-self: center;
    grid-column: span 2;
    grid-row: 1;
}
.docente-curso-descripcion img{
    grid-row: 2;
    grid-column: 1;
    width: 300px;
    height: auto;
    border: 2px solid black;
}
.datos-docente{
    padding: 10px;
    border: 2px solid black;
    grid-row: 2;
    grid-column: 2;
    
}
/*FIN ESTILOS DETALLE-CURSO.HTML*********************************************************************************************************/

/*PRINCIPIO ESTILOS GIFT-CARD.HTML*********************************************************************************************************/

.contenedor-imagen-article{
    margin: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#contenedor-personalizado{
    grid-column: 1 / 2;
    width: 1fr;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
@media (max-width: 1155px) {
    .contenedor-imagen-article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #contenedor-personalizado{
        height: 300px;
        width: 100%;

        border: 2px solid black;
        border-radius: 10px;
    
    }
    
  }
#articulo-botones-personalizacion-gift-card{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding: 10px;
}
.contenedor-imagen-article li{
    display: flex;
    align-items: center;
    margin: 10px;   
}
.contenedor-imagen-article li > *{
    padding: 5px;  
}
.contenedor-imagen-article button{
    color: white;
    font-weight: bold;
    padding: 10px;
}
/*FIN ESTILOS GIFT-CARD.HTML*********************************************************************************************************/

/*PRINCIPIO ESTILOS FORMULARIO.HTML*********************************************************************************************************/
#contenedor-botones-agregar-borrar-formulario{
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#contenedor-botones-agregar-borrar-formulario > * {
    
    margin: 5px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}
#formularios-dinamicos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}
.formulario-ingreso-curso{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}
.ingreso-datos-persona{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    margin: 10px;
}
.ingreso-datos-persona > *{
      margin: 5px;
}
#mensajeErrorFormulario{
    color: red;
}

/*FIN ESTILOS FORMULARIO.HTML*********************************************************************************************************/

/*PRINCIPIO ESTILOS CONTACTO.HTML*********************************************************************************************************/
.contenedor-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formulario-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}
.formulario-contacto input[type="text"],
.formulario-contacto input[type="email"],
.formulario-contacto input[type="tel"] {
  width: 400px;
}

.formulario-contacto textarea {
    width: 300px;
    height: 100px;
  }
.formulario-contacto label{
    margin-bottom: 10px;
    
}
.formulario-contacto input{
    margin-bottom: 10px;
    
}

.ubicacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.datos-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.datos-contacto ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.datos-contacto li{
   padding: 10px;
}
#boton-enviar-formulario-contacto{
    width: 100px;
    margin-top: 20px;
}
#mensajeErrorContacto{
    color: red;
}
/*FIN ESTILOS CONTACTO.HTML*********************************************************************************************************/

.estilo-boton{
        background-color: #F64C72;
        color: white;
        padding: 5px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        border: none; 
}
#contenedor-calendario{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#calendario {
    font-family: Arial, sans-serif;
  }
  
  #calendario table {
    width: 100%;
    border-collapse: collapse;
  }
  
  #calendario th,
  #calendario td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
  }
  
  #calendario th {
    background-color: #6c63ff;
    color: #fff;
  }
  
  #calendario td {
    cursor: pointer;
  }
  
  #calendario td:hover {
    background-color: #6c63ff;
    color: #fff;
  }

  #form-posicion-gift-card{
    display: flex;
    justify-content: center;
    flex-direction: row;

  }
  #form-posicion-gift-card >*{
    padding: 10px;
    margin-left: 10px;
    
  }

  #contador-cursos {
    font-weight: bold;
    color: #ff0000;
  }

  #contador-compra-cursos{
    font-size: 16px;
    color: white;
    margin: 0;
    padding: 10px;
    background-color: black;
    border-radius: 5px;
    display: inline-block;
    }

    #contador-cursos {
    font-weight: bold;
    color: #ff0000;
    }


